<h1>Play!</h1>

<%= @game.title %>

<script>

let cableFunc =
    () =>
    {
        // App.cableConsumer comes from consumer.js
        App.cableConsumer.subscriptions.create(
            {
                channel: "GamesChannel",
                game_id: new URLSearchParams(document.location.search).get("game_id")
            },
            {
                connected() {
                // Called when the subscription is ready for use on the server
                },

                disconnected() {
                // Called when the subscription has been terminated by the server
                },

                received(data) {
                // Called when there's incoming data on the websocket for this channel
                }
            }
        );
    };

if (document.readyState !== 'loading')
    cableFunc();
else
    addEventListener("DOMContentLoaded", cableFunc);

</script>