<% content_for :title, "Play Apples 2 Emojis" %>

<style>

*
{
    box-sizing: border-box;
    touch-action: none;
}

@media (orientation: portrait)
{
    *
    {
        --board-y: 50vw;
        --board-x: 100vw;
    }

}

body
{
    margin: 0;
    overflow: hidden;
    height: 100vh;
    
    user-select: none;
    -webkit-user-select: none; /* Safari */

    --board-y: 50vh;
    --board-x: 100vh;
    --base-size: 15vmin;
}

#game
{
    touch-action: none;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    height: 100%;
}

#board
{
    width: var(--board-x);
    height: var(--board-y);
    flex: unset;
}

#board-holder
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dragitem
{
    line-height: 100%;
    transform: scale(var(--flipX, 1), var(--flipY, 1));
    width: calc(var(--base-size) * var(--scale, 1));
    /*
    font-size: calc(var(--base-size) * var(--scale, 1));
    */
}

.dropzone
{
    /*
    width: 50vmin;
    height: 35vmax;
    */
    position: relative;
    display: inline-block;
    outline: 1px solid black;
    flex: 1; /* => grow: 1 shrink: 1 basis: 0 */
}

#main > .dragitem
{

}

.dropzone-active
{
    box-shadow: inset 0px 0px 20px rgba(255, 100, 100, 0.5);
}

.dragitem-dragging
{
    /*transform: scale(300%);*/
    z-index: 10;
    position: absolute;
}

#hand
{
    padding: 3vmin;
}

.vis-hid
{
    visibility: hidden;
}

.gone
{
    display: none !important;
}

#judge
{
    width: 100vw;
    height: 100vh;
}

#field
{
    display: grid;
    grid-template-columns: 50vw 50vw;
    --base-size: 7.5vw;
}

#field > div
{
    height: 25vw;
    position: relative;
    outline: 1px solid black;
}

#field > div > img
{
    /*
    font-size: calc(var(--base-size) * var(--scale, 1));
    */
    width: calc(var(--base-size) * var(--scale, 1));
    transform: scale(var(--flipX, 1), var(--flipY, 1));
}

#countdown
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#countdown > div
{
    animation: 1s ease-out bloom;
}

@keyframes bloom
{
    from
    {
        transform: scale(1);
        opacity: 100%;
    }

    60%
    {
        opacity: 100%;
    }

    to
    {
        transform: scale(50);
        opacity: 0%;
    }
}

#menu-btn
{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0.3em;
    border-radius: 1em;
    padding: 0.25em;
    background-color: lightblue;
    font-size: 7vmin;
}

#menu
{
    position: absolute;
    padding: 0.3em;
    background-color: lightgrey;
    border: 0.25em outset grey;
    border-radius: 0.25em;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    font-size: 10vmin;

    display: flex;
    flex-direction: column;
}

#menu *
{
    touch-action: initial;
}

#menu-top
{
    flex-grow: 1;
    overflow: auto;
}

#menu-emoji
{
    font-size: 15vmin;
    /*text-align: center;*/
}

#menu-emoji-title
{
    font-size: 66.6%;
    font-style: italic;
}

.menu-section > div:hover
{
    background-color: lightblue;
}

#game-name
{
    font-size: 0.666em;
    font-style: italic;
    text-align: center;
}

#close-menu
{
    /*
    position: absolute;
    bottom: 0;
    width: calc(100% - 0.6em); */ /* minus padding */
}

.selected
{
    filter: drop-shadow(-1px -1px 0 red)
            drop-shadow(1px -1px 0 red)
            drop-shadow(-1px 1px 0 red)
            drop-shadow(1px 1px 0 red);
}

.selectedArt
{
    outline: 5px solid red;
    background-color: pink;
}

.gallery-art
{
    overflow: hidden;
}

.artist-signature
{
    position: absolute;
    top: 0.25em;
    left: 0.25em;
    font-style: italic;
    background-color: rgba(255, 255, 255, 0.5);
}

#prompt-div
{
    position: absolute;
    bottom: 0;
    left: 0;
    text-shadow: 0 0 0.25em white, 0 0 0.25em white, 0 0 0.25em white, 0 0 0.25em white;
    filter: opacity(0.75);
    z-index: 15;
    pointer-events: none;
}

#new-prompt-btn
{
    font-size: 10vw;
}

</style>

<div id="prompt-div">
<h2>emoji <span id="prompt"></span></h2>
</div>

<div id="game">
    <div id="board-holder">
        <div id="board" class="dropzone" data-role="dropzone" data-role-extra="canvas">
        </div>
    </div>
    <div id="hand" class="dropzone" data-role="dropzone" data-role-extra="hand">
    </div>
</div>

<div id="judge">
    <div id="judge-panel">
        <button
            style="font-size: 10vw;"
            onclick="startCountdown()">
            Start Countdown
        </button>
        <button
            id="new-prompt-btn">
            New Prompt
        </button>
    </div>
    <div id="ready-readout"></div>
    <div id="fieldCont">
        <h2 id="judge-text">Click on an artwork to select it</h2>
        <div id="field"></div>
    </div>
</div>

<div id="menu-btn" onclick="showMenu(event);">☰</div>

<div id="menu" class="gone">
    <div id="menu-top">
        <%= ("<div id=\"game-name\">#{sanitize  @game.title}</div>".html_safe) if @game.title.present? %>
        <div id="menu-emoji-section" class="menu-section">
            <div id="menu-emoji"></div>
            <div onclick="scaleEmoji();">Scale Emoji</div>
            <div onclick="flipEmoji('X');">Flip Horizontal</div>
            <div onclick="flipEmoji('Y');">Flip Vertical</div>
            <div onclick="tradeIn();">Trade In Emoji</div>
            <hr>
        </div>
        <div id="menu-game-section" class="menu-section">
            <div onclick="setName();">Set Name</div>
            <div onclick="setReady();">Ready for Judging</div>
            <div onclick="exitGame();">Exit Game</div>
        </div>
    </div>
    <div id="menu-close-section" class="menu-section">
        <hr>
        <div id="close-menu" onclick="closeMenu();">Close</div>
    </div>
</div>

<div id="countdown"></div>

<template id="emoji-piece-template">
    <span class="dragitem"  data-role="dragitem"></span>
</template>

<script>

function text2CSS(text)
{
    const el = document.createElement('div');
    el.style.cssText = text;
    return el.style;

}

var gameDiv = document.querySelector("#game");
var handDiv = document.querySelector("#hand");
var boardDiv = document.querySelector("#board");
var judgeDiv = document.querySelector("#judge");
var readyReadoutDiv = document.querySelector("#ready-readout");
var judgePanelDiv = document.querySelector("#judge-panel");
var fieldContDiv = document.querySelector("#fieldCont");
var fieldDiv = document.querySelector("#field");
var judgeTextDiv = document.querySelector("#judge-text");
var countdownDiv = document.querySelector("#countdown");
var menuDiv = document.querySelector("#menu");
var menuEmojiDiv = document.querySelector("#menu-emoji");
var menuEmojiSectionDiv = document.querySelector("#menu-emoji-section");
var promptDiv = document.querySelector("#prompt");
var newPromptBtn = document.querySelector("#new-prompt-btn");

var gameState = {};
window.App = window.App || {}

function setName()
{
    let name = prompt("Enter your name:");
    if (name)
    {
        App.subc.perform("set_name", { name });
        closeMenu();
    }
}

function startCountdown()
{
    App.subc.perform("start_countdown");
}

function newPrompt()
{
    App.subc.perform("new_prompt");
}

function customPrompt()
{
    gameState.customPromptTimer = null;

    let np = prompt("Enter custom prompt:");
    if (np)
    {
        App.subc.perform("custom_prompt", {prompt: np});
        closeMenu();
    }
}

newPromptBtn.addEventListener("pointerdown",
    e =>
    {
        gameState.customPromptTimer = setTimeout(customPrompt, 3000);
    });

newPromptBtn.addEventListener("pointerup",
    e =>
    {
        if (gameState.customPromptTimer)
        {
            clearTimeout(gameState.customPromptTimer);
            newPrompt();
        }
    });

function showMenu(e)
{
    if (gameState.selectedEmoji)
    {
        menuEmojiSectionDiv.classList.remove("gone");
        menuEmojiDiv.innerHTML = `${gameState.selectedEmoji.innerHTML} <span id="menu-emoji-title"> - ${gameState.selectedEmoji.title}</span>`;
    }
    else
        menuEmojiSectionDiv.classList.add("gone");

    menuDiv.classList.remove("gone");
    menuDiv.scrollTo(0, 0);

    gameState.menuOpen = true;
}

function closeMenu()
{
    menuDiv.classList.add("gone");
    gameState.menuOpen = false;
}

function scaleEmoji()
{
    emel = gameState.selectedEmoji;

    let s = prompt("Enter scale factor as a decimal, (e.g. 0.75):");
    if (!s) return;
    let sf = Number(s);
    emel.style.setProperty("--scale", sf);

    // send update
    var em = gameState.hand.find( el => el.name == emel.title );
    em.position = emel.getAttribute("style");

    App.subc.perform("update", { hand: gameState.hand });

    closeMenu();
}

function flipEmoji(axis)
{
    emel = gameState.selectedEmoji;

    let csf = emel.style.getPropertyValue(`--flip${axis}`) || 1;
    emel.style.setProperty(`--flip${axis}`, -csf);

    // send update
    var em = gameState.hand.find( el => el.name == emel.title );
    em.position = emel.getAttribute("style");

    App.subc.perform("update", { hand: gameState.hand });

    closeMenu();
}

function tradeIn()
{
    emel = gameState.selectedEmoji;

    App.subc.perform("trade_in", { emoji: emel.title });

    closeMenu();
}

function setReady()
{
    App.subc.perform("set_ready");

    closeMenu();
}

function exitGame()
{
    if (confirm("Leave game?"))
    {
        App.subc.perform("exit_game");
        location = "/";
    }
}

var cableFunc =
    () =>
    {
        // if consumer isn't loaded, set callback to this function and exit
        if (!App.createConsumer)
        {
            App.cableConsumerCallback = cableFunc;
            return;
        }

        let createConsumer = App.createConsumer;
        
        App.cableConsumer = createConsumer(`/cable${document.location.search}`);

        // App.cableConsumer comes from consumer.js
        App.subc = App.cableConsumer.subscriptions.create(
            {
                channel: "GamesChannel",
                game_id: new URLSearchParams(document.location.search).get("game_id")
            },
            {
                connected() {
                // Called when the subscription is ready for use on the server
                console.log("cable connected");
                },

                disconnected() {
                // Called when the subscription has been terminated by the server
                console.log("cable disconnected");
                },

                received(data) {
                // Called when there's incoming data on the websocket for this channel
                    console.log("cable incoming", data);

                    // fix up new round command
                    if (data.broadcast)
                    {
                        data = data.broadcast.find( el => el.player == gameState.player ).data;
                        console.log("broadcast data:", data);
                    }

                    if (data.id)
                    {
                        gameState.player = data.id;
                    }
                    if (data.prompt)
                    {
                        promptDiv.innerHTML = data.prompt;
                    }
                    if (data.players)
                    {
                        let ready = data.players.reduce( (acc, el) => (acc += el.ready ? 1 : 0, acc), 0 );
                        let total = data.players.length;
                        let list = data.players.reduce( (acc, el) => acc + `<br>${el.name ? el.name : "Unnamed"}: ${el.ready ? 'ready' : 'not ready'}`, '');
                        readyReadoutDiv.innerHTML = `${ready} / ${total}${list}`;
                    }
                    if (data.hand)
                    {
                        handDiv.innerHTML = boardDiv.innerHTML = "";
                        console.log(data.hand);
                        var hand = data.hand; //JSON.parse(data.hand);
                        console.log(hand);
                        gameState.hand = hand;
                        hand.forEach(
                            emoji =>
                            {

                                //var emel = document.querySelector("#emoji-piece-template").content.firstElementChild.cloneNode(true);
                                //emel.innerHTML = emoji.raw;

                                let emel = document.createElement("img");
                                emel.src = emoji.path;
                                emel.alt = emoji.raw;
                                emel.dataset.role = "dragitem";
                                emel.classList.add("dragitem");

                                emel.title = emoji.name;
                                if (emoji.position)
                                {
                                    var style = text2CSS(emoji.position);
                                    emel.style.left = style.left;
                                    emel.style.top = style.top;
                                    emel.style.position = style.position;
                                    if (style.getPropertyValue("--scale")) emel.style.setProperty("--scale", style.getPropertyValue("--scale"));
                                    if (style.getPropertyValue("--flipX")) emel.style.setProperty("--flipX", style.getPropertyValue("--flipX"));
                                    if (style.getPropertyValue("--flipY")) emel.style.setProperty("--flipY", style.getPropertyValue("--flipY"));
                                    //console.log(style.getPropertyValue("--flipY"), emel.style.getPropertyValue("--flipY"));
                                    boardDiv.appendChild(emel);
                                }
                                else
                                    handDiv.appendChild(emel);
                            });
                    }
                    if (data.role)
                    {
                        gameState.role = data.role;

                        if (data.role == "judge")
                        {
                            gameState.chosen = undefined;

                            gameDiv.classList.add("gone");
                            judgeDiv.classList.remove("gone");
                            readyReadoutDiv.classList.remove("gone");
                            judgePanelDiv.classList.remove("gone");
                            fieldContDiv.classList.add("gone");
                            judgeTextDiv.classList.remove("gone")
                        }
                        else if (data.role == "artist")
                        {
                            gameDiv.classList.remove("gone");
                            judgeDiv.classList.add("gone");
                            judgeTextDiv.classList.add("gone");
                        }
                    }

                    // cmds
                    if (data.cmd == "countdown")
                    {
                        if (document.visibilityState == "hidden") return;

                        console.log("countdown", data);
                        let nd = document.createElement("div");
                        nd.innerHTML = data.time;
                        countdownDiv.appendChild(nd);
                        nd.addEventListener("animationend", () => nd.remove());
                    }
                    else if (data.cmd == "show-em")
                    {
                        gameDiv.classList.add("gone");
                        judgeDiv.classList.remove("gone");
                        readyReadoutDiv.classList.add("gone");
                        judgePanelDiv.classList.add("gone");
                        fieldContDiv.classList.remove("gone");

                        fieldDiv.innerHTML = "";
                        gameState.gallery = {}
                        data.all.forEach(
                            player =>
                            {
                                let d = document.createElement("div");
                                d.classList.add("gallery-art");
                                player.art.forEach(
                                    emoji =>
                                    {
                                        //var emel = document.querySelector("#emoji-piece-template").content.firstElementChild.cloneNode(true);
                                        //emel.innerHTML = emoji.raw;

                                        let emel = document.createElement("img");
                                        emel.src = emoji.path;
                                        emel.alt = emoji.raw;
                                        emel.dataset.role = "dragitem";
                                        emel.classList.add("dragitem");
                                        emel.title = emoji.name;

                                        var style = text2CSS(emoji.position);
                                        emel.style.left = style.left;
                                        emel.style.top = style.top;
                                        emel.style.position = style.position;
                                        if (style.getPropertyValue("--scale")) emel.style.setProperty("--scale", style.getPropertyValue("--scale"));
                                        if (style.getPropertyValue("--flipX")) emel.style.setProperty("--flipX", style.getPropertyValue("--flipX"));
                                        if (style.getPropertyValue("--flipY")) emel.style.setProperty("--flipY", style.getPropertyValue("--flipY"));
                                        d.appendChild(emel);

                                        //emel.dataset.player = player.id;
                                    });

                                if (player.name)
                                {
                                    let nd = document.createElement("div");
                                    nd.innerHTML = player.name;
                                    nd.classList.add("artist-signature");
                                    d.appendChild(nd);
                                }

                                //let setDoubleTimeout = func => setTimeout( () => setTimeout( func, 0 ), 0 );

                                // allow judge to pick winner
                                gameState.gallery[player.player] = d;
                                if (gameState.role == "judge")
                                {
                                    d.addEventListener("click",
                                        e =>
                                        {
                                            if (gameState.chosen) return;

                                            gameState.gallery[player.player].classList.add("selectedArt");

                                            setTimeout(() =>
                                            {
                                                if (confirm("This is the one?"))
                                                {
                                                    console.log("pick player", player);
                                                    App.subc.perform("pick", { player: player.player });
                                                    gameState.chosen = player.player;
                                                }
                                                else
                                                    gameState.gallery[player.player].classList.remove("selectedArt");
                                            }, 100);
                                        });
                                }
                                fieldDiv.appendChild(d);
                            }
                        )
                    }
                    else if (data.cmd == "pick")
                    {
                        gameState.gallery[data.player].classList.add("selectedArt");
                    }
                }
            }
        );
    };

if (document.readyState !== 'loading')
    cableFunc();
else
    addEventListener("DOMContentLoaded", cableFunc);

game.addEventListener("pointerdown",
    e =>
    {
        //e.preventDefault()

        // ignore if touch has already began
        // allow if primary pointer
        if (!e.isPrimary) return;

        console.log("pd", gameState.menuOpen, e);

        if (gameState.pointerIDCache)
            pointerCancel();

        gameState.pointerIDCache = e.pointerId;

        // ignore if menu open
        if (gameState.menuOpen) return;

        gameState.start = {x: e.pageX, y: e.pageY};

        gameState.clickTime = Date.now();
        gameState.distance = 0;

        //if (e.target.dataset.role != "dragitem") return;

        if (e.target != gameState.selectedEmoji)
        {
            if (gameState.selectedEmoji)
                gameState.selectedEmoji.classList.remove("selected")
            
            if (e.target.dataset.role == "dragitem")
            {
                gameState.selectedEmoji =  e.target;
                gameState.selectedEmoji.classList.add("selected");
            }
            else
            {
                gameState.selectedEmoji =  null;
                gameState.pointerIDCache = null;
            }
        }

        if (gameState.selectedEmoji && e.target.dataset.role)
        {
            // start drag

            // seems ok but maybe not needed
            // TODO: check this
            e.preventDefault();

            gameState.fromHand = e.target.parentNode.dataset.roleExtra == "hand";
            game.setPointerCapture(e.pointerId);
            gameState.dragging = e.target.cloneNode(true);
            gameState.selectedEmoji = gameState.dragging;
            gameState.dragOrig = e.target;
            e.target.parentNode.appendChild(gameState.dragging);
            e.target.classList.add("vis-hid");
            //console.log(gameState.dragging.classList);
            gameState.dragging.classList.add("dragitem-dragging");
            gameState.dragging.dataset.x = e.target.offsetLeft - e.target.parentNode.scrollLeft;
            gameState.dragging.dataset.y = e.target.offsetTop; // + e.target.parentNode.offsetTop;
            gameState.dragging.style.left = `${gameState.dragging.dataset.x}px`;
            gameState.dragging.style.top = `${gameState.dragging.dataset.y}px`;
        }

        // for starting drag in pm:
        //gameState.clickCache = gameState.selectedEmoji;

    }
);

game.addEventListener("pointermove",
    e =>
    {
        //console.log("pm", gameState.dragging);
        
        if (e.pointerId != gameState.pointerIDCache) return;

        // ensure there is a drag item and the pointer ID matches
        if (!gameState.dragging) return;

        e.preventDefault();

        var hits = document.elementsFromPoint(e.clientX, e.clientY);

        var hit;
        while ( hit = hits.pop() )
        {
            if (hit.dataset.role == "dropzone")
            {
                //console.log("hit", hit);
                hit.classList.add("dropzone-active");
                if (gameState.hot != hit)
                {
                    if (gameState.hot)
                        gameState.hot.classList.remove("dropzone-active");
                    gameState.hot = hit;
                }
                break;
            }
        }

        // if outsize dropzone, undo hot element
        if (!hit && gameState.hot)
        {
            gameState.hot.classList.remove("dropzone-active");
            gameState.hot = null;
        }

        var t = gameState.dragging;

        //console.log(`${Number(t.dataset.x) + (e.pageX - gameState.start.x)}px\n${Number(t.dataset.y) + (e.pageY - gameState.start.y)}px`);

        //console.log(`${Number(t.dataset.x)} + ${(e.pageX - gameState.start.x)}px`);

        t.style.left = `${Number(t.dataset.x) + (e.pageX - gameState.start.x)}px`;
        t.style.top = `${Number(t.dataset.y) + (e.pageY - gameState.start.y)}px`;

        // get distance for showing menu
        let curd = Math.sqrt(
            Math.abs(gameState.start.x - e.pageX) ** 2 +
            Math.abs(gameState.start.y - e.pageY) ** 2
        );
        gameState.distance = Math.max(gameState.distance, curd);
    }
);

function getTop(elem)
{
    var rect = elem.getBoundingClientRect();
    return rect.top + window.scrollY;
}

function getLeft(elem)
{
    var rect = elem.getBoundingClientRect();
    return rect.left + window.scrollX;
}

function pointerCancel( e )
{
    console.log("pc");

    if (e && gameState.pointerIDCache != e.pointerId) return;

    gameState.clickCache = null;
    gameState.pointerIDCache = null;

    game.releasePointerCapture(e.pointerId);

    var t = gameState.dragging;
    var d = t.parentNode;

    if (gameState.hot)
        gameState.hot.classList.remove("dropzone-active");
        
    if (d.dataset.roleExtra == "canvas")
    {
        //var y = t.offsetTop - d.offsetTop;

        gameState.dragOrig.remove();
        gameState.dragging = null;
        
        t.style.position = "absolute";
        t.classList.remove("dragitem-dragging");

        d.append(t);
    }
    else
    {
        gameState.dragOrig.remove();

        t.classList.remove("dragitem-dragging");

        //debugger;
        gameState.dragging = null;
        handDiv.appendChild(t);
    }

    // fix up game hand:
    // move emoji to last spot

    var ind = gameState.hand.findIndex( el => el.name == t.title );

    var [em] = gameState.hand.splice(ind, 1);

    em.position = t.getAttribute("style");

    gameState.hand.push(em);

    App.subc.perform("update", { hand: gameState.hand });
}

game.addEventListener("pointercancel", pointerCancel);
//game.addEventListener("contextmenu", e => {console.log("cm"); pointerCancel(e);});

// prevent browser contextual menu
game.addEventListener("contextmenu", e => e.preventDefault());

game.addEventListener("pointerup",
    e =>
    {
        console.log("pu", e.target.dataset.role, e);

        if (gameState.pointerIDCache != e.pointerId) return;

        gameState.clickCache = null;
        gameState.pointerIDCache = null;

        game.releasePointerCapture(e.pointerId);

        var hits = document.elementsFromPoint(e.clientX, e.clientY);

        var hit;
        while ( hit = hits.pop() )
        {
            if (hit.dataset.role == "dropzone")
            {
                //console.log("hit", hit);
                break;
            }
        }

        var t = gameState.dragging;
        var d = hit || handDiv; // handDiv is default in case dropped outside a normal zone

        if (!t || !d) return;

        //gameState.dragging = null;

        //debugger;
        
        d.classList.remove("dropzone-active");

        if (d.dataset.roleExtra == "canvas")
        {
            //var y = t.offsetTop - d.offsetTop;

            gameState.dragOrig.remove();
            gameState.dragging = null;
    
            var x = getLeft(t) - d.offsetLeft;
            var y = getTop(t) - d.offsetTop;

            var width = t.offsetWidth;
            var height = t.offsetHeight;

            var left = x / (d.offsetWidth - width);
            var top = y / (d.offsetHeight - height);
    
            //console.log(Number(t.dataset.y) + (e.pageY - gameState.start.y));
    
            /*
            t.style.left = `${x}px`;
            t.style.top = `${y}px`;
            
            t.style.left = `${left * 100}%`;
            t.style.top = `${top * 100}%`;
            */

            t.style.left = `calc((100% - var(--base-size) * var(--scale, 1)) * ${left})`;
            t.style.top = `calc((100% - var(--base-size) * var(--scale, 1)) * ${top})`;
            
            t.style.position = "absolute";
            t.classList.remove("dragitem-dragging");
    
            d.append(t);

            //t.removeEventListener("transitionend", tee);
        }
        else
        {
            // items in hand should have no style attribute
            t.removeAttribute("style");

            if (gameState.fromHand)
            {
                t.classList.remove("dragitem-dragging");
                gameState.dragging = null;
                d.insertBefore(t, gameState.dragOrig);
                gameState.dragOrig.remove();
            }
            else
            {
                gameState.dragOrig.remove();

                t.classList.remove("dragitem-dragging");
    
                //debugger;
                gameState.dragging = null;
                d.appendChild(t);
            }
        }

        // fix up game hand:
        // move emoji to last spot

        var ind = gameState.hand.findIndex( el => el.name == t.title );

        var [em] = gameState.hand.splice(ind, 1);

        em.position = t.getAttribute("style");

        gameState.hand.push(em);

        App.subc.perform("update", { hand: gameState.hand });
    }
);

</script>